<div class="col-md-2">
   <div class="thumbnail">
     <a href="<%= movie_path(movie) %>">
       <%= image_tag movie.image_url(:thumb).to_s %>
       <div class="text-center">
         <%= movie.title %>
       </div>
     </a>
   </div>
 </div>
